<% @prepage = "Edit" %>
<% @page = "Profile" %>
<% @highlight = "User" %>
<section id="content">
    <div class="container_12">
	<div class="grid_12 top-1">
			<%= render 'form' %>
	</div>
	</div>
</section>