<% @prepage = "Add" %>
<% @page = "a Run" %>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<%= javascript_include_tag "map.js" %>

<div id="route" data-route=""></div>
<%= render 'form' %>

<%= link_to 'Back', runs_path %>

