<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body>
<div class="main">
<div class="bg-img"></div>
  <!--==============================header=================================-->
<header>
<div class="signout-link">
	<a href="/" class="link">Sign out</a>
</div>
<h1><a href="#"><span class="page-header">My</span><strong>Goals</strong></a></h1>
    <nav>
      <div class="social-icons"> <a href="#" class="icon-2"></a> <a href="#" class="icon-1"></a> </div>
      <ul class="menu">
        <li><a href="/welcome">Home</a></li>
        <li><a href="/runs">My Runs</a></li>
        <li class="current"><a href="#">My Goals</a></li>
        <li><a href="myProfile.html">My Profile</a></li>
      </ul>
    </nav>
</header>
<!--==============================content================================-->
<h1>Listing Goals</h1>
 
<table>
  <tr>
    <th>GoalName</th>
    <th>GoalTime</th>
    <th>Route</th>
  </tr>
 
  <% @goal.each do |goal| %>
    <tr>
      <td><%= goal.GoalName %></td>
      <td><%= goal.GoalTime %></td>
      <td><%= goal.Route %></td>
    </tr>
  <% end %>
</table>
<!--==============================footer=================================-->
  <footer>
    <p>2014 Extraparun</p> 
	<p>Created By: Blohm, Chen, Jones, Torres</p>
    <p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">TemplateMonster.com</a></p>
  </footer>
</div>
</body>