 <head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 50%; width: 50%; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbp2q3_GNy2kx1s6L4xofOvQXnp9vG9II&sensor=false">
    </script>
</head>

<div id="map-canvas"></div>
<p><input id="zipcode" type="number"/><p>
<%= form_tag("/testing/magic", method: "post") do %>
  <%= hidden_field_tag(:route) %>
  <%= hidden_field_tag(:distance) %>
  <%= submit_tag "Submit" , :onclick => "getMapData();" %>
<% end %>
