 <head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 50%; width: 50%; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbp2q3_GNy2kx1s6L4xofOvQXnp9vG9II&sensor=false">
    </script>
    <script type="text/javascript">
      var geocoder; //To use later
      var map; //Your map
      var poly;
      function initialize() {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var polyOptions = {
          strokeColor: '#000000',
          strokeOpacity: 1.0,
          strokeWeight: 3
        };
        poly = new google.maps.Polyline(polyOptions);
        poly.setMap(map);

        google.maps.event.addListener(map, 'click', addLatLng);
      }

      function addLatLng(event) {

        var path = poly.getPath();
        path.push(event.latLng);

        // Add a new marker at the new plotted point on the polyline.
        var marker = new google.maps.Marker({
          position: event.latLng,
          title: '#' + path.getLength(),
          map: map
        });
      }


      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<div id="map-canvas"></div>
<p><input id="zipcode" type="number"/><p>
<%= form_tag("/testing/magic", method: "post") do %>
  <%= submit_tag "Submit" , :onclick => "getMapData();" %>
<% end %>
