<footer>
	<p>2014 Extraparun</p> 
	<p>Created By: Blohm, Chen, Jones, Torres</p>
	<p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">TemplateMonster.com</a></p>
</footer>