<header>
<div class="signout-link">
  <%= link_to 'Sign out', signout_path, method: "delete", class: "link" %>
</div>
<h1><a href="#"><span class="page-header"><%= @prepage %></span><strong><%= @page %></strong></a></h1>
    <nav>
      <div class="social-icons"> <a href="#" class="icon-2"></a> <a href="#" class="icon-1"></a> </div>
      <ul class="menu">
        <li><a href="/welcome">Home</a></li>
        <li class="current"><a href="/runs">My Runs</a></li>
        <li><a href="/goals">My Goals</a></li>
        <li><a href="myProfile.html">My Profile</a></li>
      </ul>
    </nav>
</header>